[Desktop Entry]
Type=Application
TryExec=kmux
Exec=kmux
Icon=utilities-terminal
Categories=Qt;KDE;System;TerminalEmulator;
Actions=NewTab;
StartupNotify=true
X-KDE-AuthorizeAction=shell_access
X-KDE-Shortcuts=Ctrl+Alt+T
StartupWMClass=kmux
Keywords=terminal;console;script;run;execute;command;command-line;commandline;cli;bash;sh;shell;zsh;cmd;xterm;tty;pty;fish;workspace;project;tabs;tmux;

Name=Kmux
GenericName=Project Workspace Terminal
Comment=Use project workspaces and terminal tabs from a Konsole-based terminal

[Desktop Action NewTab]
Name=New Tab
Exec=kmux --new-tab
